.test {color: red; font-size:40px;}

/* change color of top nav bar*/


.navbar-inverse {
	background-color: #3f3f3f;
	border-color: #dedede;
}


/* change sidebar nav parent sections */

.nav > li.active > a {
background-color: #3f3f3f;
}

body {
  font-family: "Source Sans Pro", "Calibri", "Helvetica", sans-serif important!;
  font-size: 1.6em;
  font-weight: 300;
}


p {
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

.post-content #toc ul {
	padding-top: 2px;
	padding-bottom: 2px;
}

#toc {
	margin-top: 30px;
	margin-bottom: 30px;
}

.post-content blockquote {
	margin-top: 30px;
}

.post-content h1 {
	margin-top: 60px;
	margin-bottom: 40px;
	padding: 0;
}

.post-content h2 {
	margin-top: 50px;
	margin-bottom: 30px;
	padding: 0;
}

.post-content h3 {
	margin-top: 30px;
	margin-bottom: 15px;
	padding: 0;
}

.post-content h4 {
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0;
}